<div class="row">
	<div class="col">
		<div class="row">
			<div class="col">
				<h4 class="mt-2 mb-1">Character:</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="chara_name" class="form-label">Character name</label>
				<input id="chara_name" type="text" class="form-control" name="charaName" placeholder="hello">
			</div>
			<div class="col">
				<label for="frame_name" class="form-label">Frame name</label>
				<input id="frame_name" type="text" class="form-control" name="frameName" placeholder="world">
			</div>
		</div>
	</div>
</div>