<select class="form-select" id="chara_select" name="frameName">
	<option selected>Select a character</option>
	<% names.forEach(function(chara){ %> 
	  <option value= <%= chara._id.toString() %>  ><%= chara.frameName  %> </option>
	  <% }); %>
</select>