<div class="row">
	<div class="col">
		<div class="row">
			<div class="col">
				<h3>Costume:</h3>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label for="costume_name" class="form-label">Costume name</label>
				<input id="costume_name" type="text" class="form-control" name="costumes[0][skinName]">
			</div>
		</div>
	</div>
</div>