<div class="row">
	<div class="col">
		<div class="row">
			<div class="col">
				<h4 class="mt-2 mb-1">Price:</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-1">
				<label for="value" class="form-label">Value</label>
				<input id="value" type="number" class="form-control" name="costumes[0][price][0][value]">
			</div>
			<div class="col-1">
				<label for="pick" class="form-label">pick</label>
				<select class="form-select" id="pick" name="costumes[0][price][0][currency]">
					<option value="RC">RC</option>
					<option value="BC">BC</option>
					<option value="CB">CB</option>
					<option value="¥">¥</option>
				</select>
			</div>
			<div class="col">
				<label for="comm" class="form-label">Comment</label>
				<input id="comm" type="text" class="form-control" name="costumes[0][price][0][name]">
			</div>
		</div>
	</div>
</div>