<script>
	let existingForm = document.getElementById("chara_select");
	let oldNewForm;
	let newFormExists = false;
	<% let passedData = JSON.stringify(names); %>
	let allCharas = `<%- passedData %>`;
	allCharas = JSON.parse(allCharas);

	existingForm.addEventListener('change', () => {
		let selectedId = existingForm.options[existingForm.selectedIndex].value;
		let chosen = allCharas.find(c => c._id.toString() === selectedId);
		if (!chosen) {
			oldNewForm.outerHTML = "";
			newFormExists = false;
			return;
		}

		let newForm = `<select class="form-select" id="costume_select" name="costumes[0][_id]">
			<option selected>Select a costume</option>\n`;
		chosen.costumes.forEach((costume) =>
			newForm += `\t<option value= ${costume._id.toString()}>${costume.skinName}</option>\n`
		);
		newForm += `</select>`;

		if (!newFormExists) {
			existingForm.insertAdjacentHTML("afterend", newForm);
			oldNewForm = document.getElementById("costume_select");
			newFormExists = true;
		}
		else {
			oldNewForm.innerHTML = newForm;
		}
	});
</script>