<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
	<div class="modal-dialog">
	  <div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title" id="staticBackdropLabel">WARNING</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
	  </div>
	  <div class="modal-body" id="hack">
		placeholder
	  </div>
	  <form id="delet" class="modal-footer" action="" method="post">
		<button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-danger">Understood</button>
	  </form>
	  </div>
	</div>
</div>