
<div class="row rounded-top text-white bg-danger" style="border: 1px solid #b52c39;">
	<div class="col">
		<div class="row">
			<div class="col">
				<h5 class="py-2 mb-0">Error'd</h5>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="table-responsive">
					<table class="table table-danger table-bordered border-danger">
						<thead>
							<tr>
								<th scope="col">Your Value:</th>
								<th scope="col">Where</th>
								<th scope="col">Error:</th>
							</tr>
						</thead>
						<tbody>
							<% inserted.forEach(error => { %>
								<tr>
									<td>
										<% if (error.value === "") { %>
											none
										<% } else { %>
											<%= error.value %>
										<% } %>
									</td>
									<td> <%= error.param %> </td>
									<td> <%= error.msg %> </td>
								</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>