
<div class="row rounded-top border-bottom-0" style="border: 1px solid #b52c39;">
	<h5 class="mb-0 py-2 ps-3 text-white bg-danger" >Error'd</h5>
</div>
<div class="row">
	<div class="card-group text-white bg-danger">
		<div class="card bg-danger" style="max-width: 150px">
			<ul class="list-group bg-danger">
				<li class="list-group-item list-group-item-danger fw-bold">Your Value:</li>
				<li class="list-group-item list-group-item-danger fw-bold">Where</li>
				<li class="list-group-item list-group-item-danger fw-bold">Error:</li>
			</ul>
		</div>
		<% inserted.forEach(error => { %>
			<div class="card bg-danger">
				<ul class="list-group bg-danger">
					<li class="list-group-item list-group-item-danger ">
					<% if (error.value === "") { %>
						none
					<% } else { %>
						<%= error.value %>
					<% } %>
					</li>
					<li class="list-group-item list-group-item-danger"><%= error.param %> </li>
					<li class="list-group-item list-group-item-danger"><%= error.msg %></li>
				</ul>
			</div>
		<% }); %>
	</div>
</div>