<nav class="navbar navbar-light bg-light">
    <div class="container">
      <a href="/costumes/"class="navbar-brand">PGR Costumes</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">You Thought</button>
      </form>
    </div>
  </nav>