<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="/images/icon32.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PGR Coatings</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
	<header>
		<%- include('./partials/header.ejs'); %>
	</header>
	ARE YOU SURE TO DELETE <%- name %>? THIS CANNOT BE UNDONE! (for now)?
	<a href="#" class="btn btn-danger">Confirm</a> 
	<a href="#" class="btn btn-outline-success">Go back</a>
</body>
</html>